# Adicionar, Remover e Modificar Itens do Dicionário

## Estrutura
- Adicionar Itens

In [22]:
lucro_1tri = {
    'janeiro': 10000, 
    'fevereiro': 120000,
    'março': 90000
} 

lucro_2tri = {
    'abril': 8800,
    'maio': 89000,
    'junho': 12000
}

# Adicionando 1 item 
lucro_1tri['abril'] = 88000


# Adicionando varios itens
lucro_1tri.update(lucro_2tri) 
print(lucro_1tri)

{'janeiro': 10000, 'fevereiro': 120000, 'março': 90000, 'abril': 8800, 'maio': 89000, 'junho': 12000}

## Modificando o mes de fevereiro

In [24]:
lucro_fev = 85000

lucro_1tri['fevereiro'] = lucro_fev 

print(lucro_1tri)

{'janeiro': 10000, 'fevereiro': 85000, 'março': 90000, 'abril': 8800, 'maio': 89000, 'junho': 12000}

In [26]:
# removendo o mês de junho 
lucro_jun = lucro_1tri.pop('junho')
print(lucro_1tri) 
print(lucro_jun)

{'janeiro': 10000, 'fevereiro': 85000, 'março': 90000, 'abril': 8800, 'maio': 89000}
12000